.createAd {
  border-radius: 6px;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: inherit;
  color: var(--color-light);
}

.flat {
  border-radius: 6px;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--color-light);
}

.standard {
  color: var(--color-dark);
}
