@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
:root {
  --color-primary-light: blue;
  --color-primary: #ec0b43;
  --color-primary-dark: blue;

  --color-secondary-liht: blue;
  --color-secondary: #7ae7c7;
  --color-secondary-dark: blue;

  --color-dark: #32373b;

  --color-light: #f7f7f2;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 400;
  color: var(--color-dark);
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

a,
input,
button {
  font-size: inherit;
  font-family: inherit;
}
